.side{
    width: 100%;
    margin: 0%;
    padding: 0%;
}
.imagen-de-usuario {
    width: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    height: 225px;
    background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
    background-size: cover;
}
.nombre-usuario {
    width: 90%;
    margin: 5%;
    color: black;
    font-style: inherit;
    font-size: 20px;
    text-align: center;
}
.perfil-de-usuario{
    width: 80%;
    margin: 10%;
    color: black;
    font-style: inherit;
    font-size: 15px;
    text-align: center; 
}
.options{
    width: 90%;
    margin: 5%; 
}
@media screen and (max-width: 400px){
    .menu{
        display: none;
    }
}