<div class="side">

  <div class="imagen-de-usuario"></div>

  <div class="nombre-usuario">Usuario 1</div>

  <div class="perfil-de-usuario">Profesor del POLI</div>

  <div class="options">
    <app-menu-real ></app-menu-real>  
  </div>

</div>  


