.detalle-evento {
  width: 90%;
  margin: 5%;
  box-sizing: border-box;
}
.detalle-imagen-evento{
  margin: 10px;
  width: 180px;
  height: 180px;
  background-size: cover;
  border:1px solid;
  border-color: black;
}
.encabezado{
  width: 80%;
  float: right;
  margin: 10px;
}
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.botonera{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

