
<mat-card class="detalle-evento">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{mySelectedEvento.title}}</mat-card-title>
      <mat-card-subtitle>{{mySelectedEvento.id}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
          {{mySelectedEvento.body}}
      </p>
    </mat-card-content>
    <mat-card-actions class="botonera">
      <button mat-button>Ver Más</button>
      <button mat-button>Reaccionar</button>
      <button mat-button>Comentar</button>
    </mat-card-actions>
  </mat-card>

