.banner{
  margin:0%;
  width: 100%;
  height: 42px;
  background: #4267b2;
  box-sizing: border-box;
  text-align: center;
  z-index: 100;
  color: aliceblue;
}
.banner-title{
  margin: center;
  font-size: 30px;
  font-family: inherit;
  color: aliceblue;
  font-weight: bold;
  position: relative;
  text-decoration: none;
  vertical-align: top;
  display: inline-block;
}
