<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>home</mat-icon>
          Inicio
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>account_box</mat-icon>
          Perfil
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>schedule</mat-icon>
          Eventos
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>new_releases</mat-icon>
          Noticias
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>forum</mat-icon>
          Foros
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>settings</mat-icon>
          Configuraciones
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>help</mat-icon>
          Ayuda
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>exit_to_app</mat-icon>
          Cerrar Sesión
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>  
  </mat-accordion>
