.login-card {
    max-width: 400px;
    margin-top:100px;
  }
  
.banner {
    background:#0f385a;
    width: auto;
    border:2px solid;
    border-color: black;
    text-align: center;
    vertical-align:middle;
  }

  .banner-title{
    color: aliceblue;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 70px;
    margin: center; 
  }