<app-login></app-login>

<div align="center" > 
    <mat-card class="login-card">
        <mat-card-header>
            
        </mat-card-header>
        <mat-card-content>
            <img align="center" width="150" src="https://www.poli.edu.co/sites/default/files/logos/logo-poli-politecnico-grancolombiano2018.png">
            <br><br><br>
          <h3 style="margin:10px">Ingresa Poli</h3>
          <mat-form-field class="example-full-width">
            <input [(ngModel)]="user.nombre" matInput placeholder="Usuario">
          </mat-form-field>
            <br>
          <mat-form-field class="example-full-width">
              <input [(ngModel)]="user.clave" type="password" matInput placeholder="Contraseña">
            </mat-form-field>

        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button color="primary">Ingresar</button><br>
        </mat-card-actions>
          <div><a href="">Registrarse</a></div>
          <div><a href="https://cpo.poligran.edu.co/Default.aspx">¿Olvidó la contraseña?</a></div>
      </mat-card>
</div>

