<app-login></app-login>

<mat-toolbar class="nav-bar">
    <mat-toolbar-row class="botonera">
        <mat-icon class="icon" aria-hidden="false" aria-label="Example heart icon">menu</mat-icon>
        <mat-icon class="icon" aria-hidden="false" aria-label="Example delete icon">account_box</mat-icon>
        <mat-icon class="icon" aria-hidden="false" aria-label="Example delete icon">favorite</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>

<mat-card _ngcontent-c0="" class="menu">
    <app-menu-lateral></app-menu-lateral>
</mat-card>

<mat-card _ngcontent-c0="" class="fondo-eventos">
    <app-listado-eventos></app-listado-eventos>
</mat-card>




