.container{
    background: aliceblue;
    width: 100%;
    margin-top:42px;
    margin: 0%;
    padding: 0%;
}
.small{
    box-sizing: border-box;
}
.menu{
    top:14px;
    width: 20%;
    margin-left: 13%;
    margin-right: 65%;
    background: aliceblue;
}
.fondo-eventos {
    margin-left: 37%;
    margin-right: 15%;
    background:aliceblue;
    width: 50%;
    top: -768px;
}  
.nav-bar{
    background: white;
    height:30px;
}
.botonera{
    width: 99%;
    margin-left:0.5%;
    margin-right:0.5%;
    
}
.icon {
    padding-left: 14px;
    padding-right: 14px;
    width: 33%; 
    color:#4267b2;
}

@media screen and (max-width: 360px){
    .menu{
        display: none;
    }
    .fondo-eventos{
        margin: 0%;
        top:0px;
        width: 100%;
    }
}
@media (min-width:361px) and (max-width:2500px){
    .nav-bar{
        display: none;
    }
}
